.form {
  @include flex-center;

  /* Общие стили для label и input */
  label {
    margin: 0.25rem 0;
  }

  input {
    height: 30px;
    padding: 0.25rem;
    border: 1px solid $primary;
    border-radius: 2px;
    outline: none;

    &:disabled {
      background-color: $light;
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .btn {
    height: 28px;
    width: 28px;
    background-color: $primary;

    &.close {
      width: 20px;
      height: 20px;
    }

    &.chat {
      margin-top: 1rem;
      padding: 0.25rem 1rem;
      width: auto;
      height: 36px;
      color: $light;
      border-radius: 20px;
    }
  }

  &.name-room {
    flex-direction: column;

    div {
      @include flex-center(true);
    }
  }

  &.message {
    display: flex; /* Важно для горизонтального расположения */
    align-items: center;
    justify-content: space-between;/* Центрируем по вертикали */
    gap: 0.75rem; /* Пробел между элементами */
    width: 100%; /* Форма занимает всю ширину */
    padding: 0.5rem;
    background-color: #fff;
    border-top: 1px solid #eee;

    input {
      flex-grow: 1;
      height: 36px; /* чтобы подогнать под кнопки */
      padding: 0.5rem 1rem;
      font-size: 14px;
    }

    .btn {
      flex-shrink: 0; /* Кнопка отправки не уменьшается */
      display: flex;
      justify-content: center;

      align-items: center;
      background-color: $primary;
      color: $light;
      border-radius: 50%; /* Закруглённая кнопка отправки */

      &:hover {
        background-color: darken($primary, 10%);
      }
    }

    /* Кнопки, такие как EmojiMart, FileInput, Recorder */
    .emoji-picker,
    .file-input,
    .recorder {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      border-radius: 50%; /* Круглая форма */
      background-color: #f0f0f0;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #e0e0e0;
      }

      svg {
        font-size: 14px; /* Размер иконки */
        color: $dark;
      }
    }
  }
}